*{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "microsoft yahei";
}
ul,li
{
	list-style: none;
}
body
{
	width: 100%;
	min-width: 1300px;
	height:100%;
}
.clearfix:before,.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix:after
{
	clear: both;
}
#email_user
{
	margin-left: 10px;
	vertical-align: baseline;
	color:whitesmoke;
}
.all-container
{
	width: 1100px;
	height: auto;
	margin: 30px auto;
}
#first_img
{
	width: 50px;
	height: auto;
	display: inline;
	vertical-align:middle;
	margin-right: 10px;
}
.top_span
{
	font-size: 20px;
}
#email_num
{
	font-size: 24px;
	color:red;
	padding: 0 3px;
}
.head-wrap
{
	display: block;
	box-sizing: border-box;
	height: 30px;
	background-color: #F6F6F6;
	width: 100%;
	margin-top: 30px;
	line-height: 30px;	
}
#sender
{
	margin:0 80px 0 30px;
}
#subject
{
	margin: 0 300px;
}
#time
{
	margin:0 40px;
}
#attach
{
	margin:0 45px;
}
.email_wrap
{
	display: block;
	box-sizing: border-box;
	border-bottom: 1px solid #00A185;
	height: 40px;
	line-height: 40px;	
}
.email_wrap p
{
	font-size: 14px;
	display: inline-block;
}
.attach_img
{
	width: 20px;
	height: auto;
	display: inline;
}
.sender_list
{
	padding: 0 20px;
	width:200px;
}
.subject_list
{
	padding: 0 10px;
	width:500px;
}
.time_list
{
	padding: 0 30px;
	width: 150px;
}
.attach_list
{
	padding: 0 20px;
	width:30px;
}
.page-container
{
	width: 1100px;
	height: auto;
	margin: 30px auto;
}
#startwork
{
	color:white;
	background-color: #488FCE;
	transition: all ease 0.3s;
	padding: 5px 15px;
	border:none;
	border-radius: 5px;
}
.pagenum
{
	float:right;
}
.pagenum span
{
	font-size:18px;
}
.left-box,.right-box
{
	width: 30px;
	height: 30px;
	background-color: #488FCE;
	color: white;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	transition: all ease 0.3s;
	border-radius: 5px;
}
.left-box:hover,.right-box:hover,
#startwork:hover
{
	background-color: #33CCCC;
	cursor: pointer;
}
