<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <javaee:display-name>Archetype Created Web Application</javaee:display-name>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>IbotInfo</javaee:display-name>
    <servlet-name>IbotInfo</servlet-name>
    <servlet-class>com.qq.IbotInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IbotInfo</servlet-name>
    <url-pattern>/IbotInfo</url-pattern>
  </servlet-mapping>
</web-app>